
.avatarIcon {
  width: 40px;
  height: 40px;
}

/* Styles for Tab element in Home componenet */
.polls-tab .active, 
.polls-tab .nav-tabs .nav-link.active{
  background-color: #ccc;
  border-color:#ccc;
}
.polls-tab .nav-tabs .nav-link{
  width: 50%;
  border-bottom: 1px solid cornflowerblue;
}

.polls-tab .nav-tabs a.nav-link.active{
  background-color: #ccc;
  border-color:#ccc;
  border-top: 1px solid cornflowerblue;
  border-left: 1px solid cornflowerblue;
  border-right: 1px solid cornflowerblue;
}
.polls-tab .active {
  border-bottom: 1px solid cornflowerblue;
  border-left: 1px solid cornflowerblue;
  border-right: 1px solid cornflowerblue;
}
.polls-tab .nav-tabs .nav-link, 
.polls-tab .nav-tabs .nav-link:hover{
  border-radius: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid cornflowerblue;
}
.polls-tab .nav-tabs {
  text-align: center;
  background-color: #eee;
}
.polls-tab .tab-content>.active{
padding-top: 1.5em;
padding-bottom: 1.5em;
}



div.q-card {
  margin: 0 auto 1em;

  width: 80%;
}

img, .card .author-img {
  width: 120px;
  height: 120px;
  margin-top: 1.5%;
}
.q-details {
  display: flex;
}